{% extends 'logs/left_menu.html' %}

{% block content %}
<div class="container">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-3 row-cols-xxl-3">
        <div class="col">
            <div class="flex-grow-1"
                 style="border: 1px solid var(--bs-gray-300);border-radius: 10px;max-width: 500px;padding: 10px;margin: 5px;min-width: 200px;">
                <h3>Доходы</h3>
                {% for revenue in revenue %}
                <div class="d-flex d-lg-flex justify-content-end align-items-center align-items-lg-center"
                     style="padding: 3px;border-bottom: 1px solid var(--bs-gray-300);margin-bottom: 5px;"
                     id="revenue-{{ revenue.id }}">
                    <p style="margin: auto 0px;">{{ revenue }}</p>
                    <button class="btn btn-outline-secondary"
                            type="button"
                            style="margin-left: auto;padding: 8px;font-size: 0px;"
                            onclick="edit('revenue', {{ revenue.id }})">
                        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor"
                             viewBox="0 0 16 16" class="bi bi-pencil-fill" style="font-size: 10px;">
                            <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"></path>
                        </svg>
                    </button>
                    <button class="btn btn-outline-secondary" type="button"
                            style="margin-left: 5px;padding: 8px;font-size: 0px;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor"
                             viewBox="0 0 16 16" class="bi bi-trash-fill" style="font-size: 10px;">
                            <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"></path>
                        </svg>
                    </button>
                </div>
                <form class="d-none d-flex d-lg-flex flex-row align-items-center align-items-lg-center align-items-xl-end"
                      style="padding: 3px;border-bottom: 1px solid var(--bs-gray-300);margin-bottom: 5px;padding-top: 0px;"
                      id="revenue-form-{{ revenue.id }}">
                    <input class="form-control form-control-sm" type="text">
                    <button class="btn btn-outline-secondary" type="button"
                            style="margin-left: 5px;padding: 2px;font-size: 0px;"
                            onclick="cancelEdit('revenue', {{ revenue.id }})">
                        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor"
                             viewBox="0 0 16 16" class="bi bi-x" style="font-size: 22px;font-weight: bold;">
                            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"></path>
                        </svg>
                    </button>
                    <button class="btn btn-outline-secondary" type="button"
                            style="margin-left: 5px;padding: 2px;font-size: 0px;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor"
                             viewBox="0 0 16 16" class="bi bi-check" style="font-size: 22px;">
                            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"></path>
                        </svg>
                    </button>
                </form>
                {% endfor %}
                <div><a class="btn btn-primary btn-sm d-grid" data-bs-toggle="collapse" aria-expanded="false"
                        aria-controls="revenue-collapse" href="#revenue-collapse" role="button"
                        style="margin-top: 10px;font-size: 14px;">Добавить</a>
                    <div class="collapse" id="revenue-collapse">
                        <form class="d-flex d-lg-flex flex-row align-items-center justify-content-lg-end align-items-lg-center"
                              style="padding-top: 10px;"><input class="form-control form-control-sm"
                                                                type="text">
                            <button class="btn btn-outline-secondary" type="button"
                                    style="margin-left: 5px;padding: 2px;font-size: 0px;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                                     fill="currentColor" viewBox="0 0 16 16" class="bi bi-x"
                                     style="font-size: 22px;font-weight: bold;">
                                    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"></path>
                                </svg>
                            </button>
                            <button class="btn btn-outline-secondary" type="button"
                                    style="margin-left: 5px;padding: 2px;font-size: 0px;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                                     fill="currentColor" viewBox="0 0 16 16" class="bi bi-check"
                                     style="font-size: 22px;">
                                    <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"></path>
                                </svg>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="flex-grow-1"
                 style="border: 1px solid var(--bs-gray-300);border-radius: 10px;max-width: 500px;padding: 10px;margin: 5px;min-width: 200px;">
                <h3>Расходы</h3>
                {% for expense in expense %}
                <div class="d-flex d-lg-flex justify-content-end align-items-center align-items-lg-center"
                     style="padding: 3px;border-bottom: 1px solid var(--bs-gray-300);margin-bottom: 5px;"
                     id="expense-{{ expense.id }}">
                    <p style="margin: auto 0px;">{{ expense }}</p>
                    <button class="btn btn-outline-secondary"
                            type="button"
                            style="margin-left: auto;padding: 8px;font-size: 0px;"
                            onclick="edit('expense', {{ expense.id }})">
                        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor"
                             viewBox="0 0 16 16" class="bi bi-pencil-fill" style="font-size: 10px;">
                            <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"></path>
                        </svg>
                    </button>
                    <button class="btn btn-outline-secondary" type="button"
                            style="margin-left: 5px;padding: 8px;font-size: 0px;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor"
                             viewBox="0 0 16 16" class="bi bi-trash-fill" style="font-size: 10px;">
                            <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"></path>
                        </svg>
                    </button>
                </div>
                <form class="d-none d-flex d-lg-flex flex-row align-items-center align-items-lg-center align-items-xl-end"
                      style="padding: 3px;border-bottom: 1px solid var(--bs-gray-300);margin-bottom: 5px;padding-top: 0px;"
                      id="expense-form-{{ expense.id }}">
                    <input class="form-control form-control-sm" type="text">
                    <button class="btn btn-outline-secondary" type="button"
                            style="margin-left: 5px;padding: 2px;font-size: 0px;"
                            onclick="cancelEdit('expense', {{ expense.id }})">
                        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor"
                             viewBox="0 0 16 16" class="bi bi-x" style="font-size: 22px;font-weight: bold;">
                            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"></path>
                        </svg>
                    </button>
                    <button class="btn btn-outline-secondary" type="button"
                            style="margin-left: 5px;padding: 2px;font-size: 0px;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor"
                             viewBox="0 0 16 16" class="bi bi-check" style="font-size: 22px;">
                            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"></path>
                        </svg>
                    </button>
                </form>
                {% endfor %}
                <div><a class="btn btn-primary btn-sm d-grid" data-bs-toggle="collapse" aria-expanded="false"
                        aria-controls="expense-collapse" href="#expense-collapse" role="button"
                        style="margin-top: 10px;font-size: 14px;">Добавить</a>
                    <div class="collapse" id="expense-collapse">
                        <form class="d-flex d-lg-flex flex-row align-items-center justify-content-lg-end align-items-lg-center"
                              style="padding-top: 10px;"><input class="form-control form-control-sm"
                                                                type="text">
                            <button class="btn btn-outline-secondary" type="button"
                                    style="margin-left: 5px;padding: 2px;font-size: 0px;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                                     fill="currentColor" viewBox="0 0 16 16" class="bi bi-x"
                                     style="font-size: 22px;font-weight: bold;">
                                    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"></path>
                                </svg>
                            </button>
                            <button class="btn btn-outline-secondary" type="button"
                                    style="margin-left: 5px;padding: 2px;font-size: 0px;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                                     fill="currentColor" viewBox="0 0 16 16" class="bi bi-check"
                                     style="font-size: 22px;">
                                    <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"></path>
                                </svg>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="flex-grow-1"
                 style="border: 1px solid var(--bs-gray-300);border-radius: 10px;max-width: 500px;padding: 10px;margin: 5px;min-width: 200px;">
                <h3>Долги</h3>
                {% for debt in debt %}
                <div class="d-flex d-lg-flex justify-content-end align-items-center align-items-lg-center"
                     style="padding: 3px;border-bottom: 1px solid var(--bs-gray-300);margin-bottom: 5px;"
                     id="debt-{{ debt.id }}">
                    <p style="margin: auto 0px;">{{ debt }}</p>
                    <button class="btn btn-outline-secondary"
                            type="button"
                            style="margin-left: auto;padding: 8px;font-size: 0px;"
                            onclick="edit('debt', {{ debt.id }})">
                        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor"
                             viewBox="0 0 16 16" class="bi bi-pencil-fill" style="font-size: 10px;">
                            <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"></path>
                        </svg>
                    </button>
                    <button class="btn btn-outline-secondary" type="button"
                            style="margin-left: 5px;padding: 8px;font-size: 0px;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor"
                             viewBox="0 0 16 16" class="bi bi-trash-fill" style="font-size: 10px;">
                            <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"></path>
                        </svg>
                    </button>
                </div>
                <form class="d-none d-flex d-lg-flex flex-row align-items-center align-items-lg-center align-items-xl-end"
                      style="padding: 3px;border-bottom: 1px solid var(--bs-gray-300);margin-bottom: 5px;padding-top: 0px;"
                      id="debt-form-{{ debt.id }}">
                    <input class="form-control form-control-sm" type="text">
                    <button class="btn btn-outline-secondary" type="button"
                            style="margin-left: 5px;padding: 2px;font-size: 0px;"
                            onclick="cancelEdit('debt', {{ debt.id }})">
                        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor"
                             viewBox="0 0 16 16" class="bi bi-x" style="font-size: 22px;font-weight: bold;">
                            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"></path>
                        </svg>
                    </button>
                    <button class="btn btn-outline-secondary" type="button"
                            style="margin-left: 5px;padding: 2px;font-size: 0px;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor"
                             viewBox="0 0 16 16" class="bi bi-check" style="font-size: 22px;">
                            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"></path>
                        </svg>
                    </button>
                </form>
                {% endfor %}
                <div><a class="btn btn-primary btn-sm d-grid" data-bs-toggle="collapse" aria-expanded="false"
                        aria-controls="debt-collapse" href="#debt-collapse" role="button"
                        style="margin-top: 10px;font-size: 14px;">Добавить</a>
                    <div class="collapse" id="debt-collapse">
                        <form class="d-flex d-lg-flex flex-row align-items-center justify-content-lg-end align-items-lg-center"
                              style="padding-top: 10px;"><input class="form-control form-control-sm"
                                                                type="text">
                            <button class="btn btn-outline-secondary" type="button"
                                    style="margin-left: 5px;padding: 2px;font-size: 0px;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                                     fill="currentColor" viewBox="0 0 16 16" class="bi bi-x"
                                     style="font-size: 22px;font-weight: bold;">
                                    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"></path>
                                </svg>
                            </button>
                            <button class="btn btn-outline-secondary" type="button"
                                    style="margin-left: 5px;padding: 2px;font-size: 0px;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                                     fill="currentColor" viewBox="0 0 16 16" class="bi bi-check"
                                     style="font-size: 22px;">
                                    <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"></path>
                                </svg>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function edit(entityName, entityId) {
        document.getElementById(entityName + '-' + entityId).classList.add('d-none');
        document.getElementById(entityName + '-form-' + entityId).classList.remove('d-none');
    }

    function cancelEdit(entityName, entityId) {
        document.getElementById(entityName + '-form-' + entityId).classList.add('d-none');
        document.getElementById(entityName + '-' + entityId).classList.remove('d-none');
    }
</script>
{% endblock %}